@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{font-family: 'Poppins', sans-serif;margin: 0;padding: 0;}
body{background-color: rgb(255, 255, 255);}
.bodyForm{background-color: rgb(202, 202, 202);}

nav
    {
        width: 100%;background-color: rgb(208, 208, 208);
        border-bottom: 3px solid rgb(249, 114, 99);
    }
    .logo{margin-top: 15px;margin-left:20px;
        position: relative;top:10px}
.container,a
    { text-align:end;margin-top:-20px;height: 50px;}
    a
    {
        margin-right: 80px;text-decoration: none;color: rgb(0, 0, 0);
        padding-bottom:40px;font-weight: bold;transition: .5s;
    }
    a:hover{color: salmon;}
    a:active{color: black;}
    .act{color: salmon;}
    .btn
    {
        margin-right: 50px;font-size: 15px;padding:3px 20px;border-radius:10px;
        font-weight: bold;background-color: salmon;color: white;
        border: 2px solid transparent; transition: 500ms ease-out;
       
    }
    .btn:hover
    {
        background-color: black;color: rgb(255, 255, 255);
        border:2px solid rgb(0, 0, 0);
    }
    .biru:hover{color: royalblue;}
    .stv
    {
        position: absolute;width: 400px;height: 380px;top:-17px;
        left: 550px;border-top-right-radius: 100px;
    }
    .steve
    {
        width: 400px;height: 50px;background-color: white;
        margin-left: 550px;margin-top: -80px;text-align: center;
        border-bottom-left-radius: 100px;
    }

    .containerForm
        {
            width: 40%;height: 100%;background-color:transparent;
            margin:0 auto
        }
        label{font-weight: bold;padding: 5px 0;}
        h1{ text-align: center;padding-top: 20px;}
        .form{width: 80%;height: 90%;background-color: transparent;margin: 0 auto;}
        .form input,textarea
        {
            display: block;width: 100%;padding: 5px 0;
            border-radius: 10px;border:1px solid transparent;}
        textarea{resize: none;}
        #drp
        {
            width: 100%;padding: 5px 0;border:1px solid transparent;
            border-radius: 10px;
        }
        .btn-form
        {
            margin: 10px 85% 0;padding:2px 12px;border-radius: 10px;
            color: rgb(0, 0, 0);background-color: salmon;cursor: pointer;
            font-weight: bold;border:2px solid transparent;
        }   
        .btn-form:hover{background-color: black;color: white;}
        hr{color: salmon;}
        input,textarea:focus-visible{outline-color: salmon;}