<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>


            //FOREACH✅//
            // let dataArray = [{nama:'rizwan'},{age:'22'}]
            //     dataArray.forEach(function(itemarray){
            //         console.log(itemarray.nama,itemarray.age)
            //     })
            //FILTER ✅//
            // let index = [7,3,6,89,67,4,'enam','aku']
            // const result = index.filter(function(itemdata){
            //     return itemdata == 'enam'
            // })
            // console.log(result)
            //MAP ✅//
            // let mapping = [1,4,5,6,4,3,2]
            // const dataMe = mapping.map((data)=>{//annonymous function
            //     return data*2
               
            // })
            // console.log(dataMe)
            //REDUCE✅
            // let red = [1,2,5,4,6]
            // let multy = red.reduce((item,data)=>{
            //     return item+data;
            // },5)
            // console.log(multy)
            //CALLBACK FUNCTION ✅//
            // function firstName(){
            //     let i = true;
            //     if(i!=false){
            //         console.log('jamal')
            //     }else(console.log('eror'))
            // }
            // function lastName (){
            //     console.log('kupli')
            // }
            // function callHim(calling){
            //     calling()
            // }
            // callHim(firstName);
            // callHim(lastName)
            //return another function✅//
            // function relation (x){
            //     return (y)=>{
            //     return function(z){
            //         return x+y+z;
            //     }
            //     }
            // }
            // const me = relation(5)
            // console.log(me(10)(5));
            //another function for assign parameter✅ //
            // function repeat (x,y){
            //     for(let index=1;index <= x;index++){
            //         y(index)
            //     }
            // }
            // function again (z){
            //     console.log(`ini adalah no ${z}`)
            // }
            // repeat(5,again)
            //PROMISES ✅//
            // let i = false;
            // let asyncPromises = new Promise(function(x,y){
            // if(i==true){
            //  x('janji di tepatin')
            // }else{y('janji batal')}
    
            // })
            // // console.log(asyncPromises)
            // let async = asyncPromises.then(function(value){
            // console.log(value)
            // }).catch((value2)=>{
            // console.log(value2)
            // })
            
            // let firstName = "rizwan";
            // let lastName = "setiawan";
            // let phone = 0888811211;
            // let subject = "software engineer"
            // let email = "wawanmks@gmail.com";
            // let conf = prompt('mau ga')
            // let i = true;
            // let element = document.createElement("a");
            // element.href=`mailto:${email}?subject=${subject}&body=halo my name is ${firstName} ${lastName} and my phone number is ${phone}` 
            // if(conf=="mau"){
            // element.click();
            // }else(alert("yasudah"))
            // let i = confirm('halo guys')

                



            
    </script>
</body>
</html>