<html>
    <head>
        <title>Post Blog</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/form-blog.css"> -->
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                <img src="assets/logo.png" alt="dumbways">
                </a>
                <button class="navbar-toggler"type="button"data-bs-toggle="collapse"></button>
                <span></span>
            </div>
        </nav>
       

        <div class="first-container-blog">
            <div>
                <h1>Create Post Blog</h1>
                <form action="">
                    <div>
                        <label for="title-name">
                            <input type="text"id="title-name">
                        </label>
                    </div>
                    <div>
                    <label for="content">
                        <textarea name="" id="content" cols="10" rows="5"></textarea>
                    </label>
                </div>
                <div>
                    <label for="file-image">upload image
                        <input type="file"id="file-image"hidden/>
                    </label>
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>

                </form>
            </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
</html>