<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coba coba</title>
    <link rel="icon"href="public/images/logo.png">
    <link rel="stylesheet" href="public/css/my-project.css">
</head>
<body>
    <!-- <div class="black"></div> -->
    <!-- <div class="buble"onclick="bubleCoy()"><h2>click me</h2></div> -->
    <h1 id="h1">Dev</h1><span class="dua">elop</span><span class="titik">.</span><span class="preview">Preview</span><span class="titik">.</span><span class="ship">Ship</span>
    <!-- <figure>
        <img src="public/images/img4.png" alt="">
        <figcaption style="color:white">javascript</figcaption>
    </figure> -->
    
    <script src="public/javascript/my-project.js"></script>
</body>
</html>