<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonial</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="public/css/style.css">
    <!-- <link rel="stylesheet" href="css/contact.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/testi.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg"id="st-nav">
            <div class="container-fluid p-2">
              <img src="public/images/logo.png" alt="dumbways"class="ms-1">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link fs-5 fw-medium ms-5 me-2" aria-current="page" href="home"id="condition">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fs-5 fw-medium ms-5 me-2" href="add-project"id="condition">Add Project</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fs-5 fw-medium ms-5 me-2 text-danger" href="testimonials"id="condition">Testimonials
                    </a>
                  </li>
                </ul>
                <form class="d-flex">
                 <a href="contact"><button class="btn me-3 text-light fw-bold btn-md" type="button">Contact Me</button></a>
                </form>
              </div>
            </div>
          </nav>
        </header>
        <!-- RATING BASED ON STARS -->
        <hr id="dropdown">
        <div id="container-title">
        <h1 class="title">My Testimonials</h1>
        <h2 class="by-stars">Rating By Stars</h2>
        </div>

        <div class="stars-testi">
        <button type="button"class="btn-star"id="allSelect"onclick="getAllTestimonials()">All<i class="ri-star-fill"></i></button>
        <button type="button"class="btn-star"onclick="filteredTesti(1)">1<i class="ri-star-fill"></i></button>
        <button type="button"class="btn-star"onclick="filteredTesti(2)">2<i class="ri-star-fill"></i></button>
        <button type="button"class="btn-star"onclick="filteredTesti(3)">3<i class="ri-star-fill"></i></button>
        <button type="button"class="btn-star"onclick="filteredTesti(4)">4<i class="ri-star-fill"></i></button>
        <button type="button"class="btn-star"onclick="filteredTesti(5)">5<i class="ri-star-fill"></i></button>
        </div>
        
    <div class="container-testi"id="testimonials">
        <!-- <h1 class="user-choose"id="selectStars">Select Stars</h1> -->
            <!-- <div class="container1">
                <div class="child-1">
                    <img src="assets/hilman.jpg" alt="sekolah koding"class="photo-testi">
                    <p class="testi-user"><i>"Respon Cepat Mantap !"</i></p>
                        <div class="icon">
                            
                            <h3 class="person-testi1">- Hilman R</h3>
                    </div>
                    </div>
                </div>
                <div class="container2">
                    <div class="child-1">
                        <img src="assets/morgan.jpg" alt="morgan"class="photo-testi">
                        <p class="testi-user"><i>"Lumayan lah !"</i></p>
                            <div class="icon">
                                
                            <h3 class="person-testi1">- Morgan</h3>
                        </div>
                        </div>
                    </div>
                    <div class="container3">
                        <div class="child-1">
                            <img src="assets/henry.png" alt="henry"class="photo-testi">
                            <p class="testi-user"><i>"Pengerjaan Lamhay !"</i></p>
                                <div class="icon">
                                    
                                <h3 class="person-testi1">- Henry M</h3>
                            </div>
                            </div>
                        </div>
                        <div class="container4">
                            <div class="child-1">
                                <img src="assets/james.jpg" alt="atomic"class="photo-testi">
                                <p class="testi-user"><i>"Respon oke Mantap !"</i></p>
                                    <div class="icon">
                                        
                                        <h3 class="person-testi1">- James c</h3>
                                </div>
                                </div>
                            </div>
                            <div class="container4">
                                <div class="child-1">
                                    <img src="assets/seth.jpg" alt="seth"class="photo-testi">
                                    <p class="testi-user"><i>"Kurang Ramah!"</i></p>
                                        <div class="icon">
                                            
                                            <h3 class="person-testi1">- seth G</h3>
                                    </div>
                                    </div>
                                </div>
                                <div class="container5">
                                    <div class="child-1">
                                        <img src="assets/ed.jpg" alt="sekolah koding"class="photo-testi">
                                        <p class="testi-user"><i>"Respon Cepat Mantap !"</i></p>
                                            <div class="icon">
                                                
                                                <h3 class="person-testi1">- ed heran</h3>
                                        </div>
                                        </div>
                                    </div> -->

    </div>

        <script src="public/javascript/testimonials.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>