
      /* USING BOOTSRAP */
      
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
      #titleForm{margin-top: 100px !important;text-transform: uppercase;font-size: 30px;}
      .hr{width: 300px;;height: 1px;background-color: black;margin: 0 auto;}
      #containerForm{width: 40rem;margin: 0 auto;margin-top:50px;background-color: transparent;font-family: 'Poppins', sans-serif;height: 1000px;}
      #dateTwo{margin-left: 235px;}
      #endDate{margin-left: 35.5% !important;}
      #textarea{resize: none;}
      #positionFile{position: relative;}
      #fileUpload{position: absolute;left: 39vw;top: 30px;z-index: 1;transform: rotate(45deg);}
      #submit{margin-left: 85%;}
      input,textarea{box-shadow: 0 0 5px rgba(88, 88, 88, 0.398);}
      input:hover,textarea:hover{outline-style:solid;outline-width: .5px;outline-color: rgba(255, 66, 33, 0.942) !important;}
      .linkPointer{cursor: pointer;}

      @media only screen and (max-width:900px){
        #fileUpload{margin-left: 180%;}
        li a#condition{margin-left: 0 !important;}
      }
      @media only screen and (max-width:430px){
        #containerForm{width: 20rem;}
        #startDate{position:absolute;;margin-top: 0 !important;}
        #endDate{margin-left: 53% !important;}
        #fileUpload{margin-left: 82%;}
        button#submit{margin-left: 68%!important;}
      }
      @media only screen and (max-width:320px){
        #fileUpload{margin-left: 95%;}
      }
   